<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<br>
<form method="post" action="/main">
    <input type="text" name="text" placeholder="input your text">
    <input type="text" name="tag" placeholder="input your tag">
    <button type="submit">Add new message</button>
</form>
<br>
<div>List of messages</div>

<form method="get" action="/main">
    <input type="text" name="tag" th:value="${filter}">
    <button type="submit">Find by tag</button>
</form>
<br>
<div th:each="el : ${messages}">
    <b th:text="${el.id}"/>
    <span th:text="${el.text}"/>
    <i th:text="${el.tag}"/>
    <strong th:text="${el.authorName}"/>
</div>

</body>
</html>