<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-5">

<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<br>
<form method="post" action="/main" enctype="multipart/form-data">
    <input type="text" name="text" placeholder="input your text">
    <input type="text" name="tag" placeholder="input your tag">
    <input type="file" name="file" >
    <button type="submit">Add new message</button>
</form>
<br>

<!--    Logged user: <span sec:authentication="name">Bob</span><br>-->
<!--    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span><br><br>-->

    <div>List of messages</div>

<form method="get" action="/main">
    <input type="text" name="tag" th:value="${filter}">
    <button type="submit">Find by tag</button>
</form>
<br>
<div th:each="el : ${messages}">
    <b th:text="${el.id}"/>
    <span th:text="${el.text}"/>
    <i th:text="${el.tag}"/>
    <strong th:text="${el.author.getUsername()}"/>
    <div th:if="${el.filename}">
        <img th:src="'/img/' + ${el.filename}" height="150" width="150">
    </div>
</div>


</div>
<div th:insert="blocks/bottom :: scripts"></div>
</body>
</html>