<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-5">


<p>Edit page</p>
    <form action="/user" method="post">
        <p>Username: <input type="hidden" name="id" th:value="${user.id}"></p>
        <p>Username: <input type="text" name="username" th:value="${user.username}"></p>
        <p>Password: <input type="text" name="password" th:value="${user.password}"></p>
        <div th:each="role : ${roles}">
            <label><input type="checkbox"  th:name="${role}" th:text="${role}"></label>
        </div><br>
        <button type="submit">Save</button><br><br>
        <form action="/user">
            <button type="submit">Back</button>
        </form>
    </form>



</div>
<div th:insert="blocks/bottom :: scripts"></div>
</body>
</html>