<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-5">


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each=" user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>
            <td><a th:href="'/user/' + ${user.id}">Edit</a></td>
        </tr>
    </tbody>
</table><br>
    <form action="/main">
        <button type="submit">Back</button>
    </form>

</div>
<div th:insert="blocks/bottom :: scripts"></div>
</body>
</html>