<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-5">

    <div th:unless="${user ne null}">
        <h2>Oops!</h2>
        <h2>No messages:(</h2>
    </div>

    <div class="card-columns" th:if="${user ne null}">
        <div th:each="el : ${messages}" class="card my-3">
            <div th:if="${el.filename}">
                <img class="card-img-top" th:src="'/img/' + ${el.filename}">
            </div>
            <div class="m-2">
                <span th:text="${el.text}"/><br>
                <i th:text="'#' + ${el.tag}"/>
            </div>
            <div class="card-footer text-muted text-center">
                <p th:text="${el.author.getUsername()}"/>
            </div>
        </div>
    </div>

</div>
<div th:insert="blocks/bottom :: scripts"></div>
</body>
</html>